html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
	background-image: url(images/photo\ fond.png);
	background-attachment: fixed;
	background-size: cover;
	background-position : top center;
}

  nav {
	display:flex;
	flex-direction:column;
	width: 100%;
	margin: auto;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	padding : 0 10% 20px 10%;
  }

  .nav3 {
	display:flex;
	width: 100%;
	position: fixed;
	margin: auto; 
	display:flex;
	justify-content:space-around;
	padding-top:50px;
	padding-bottom:50px; 
	background-color: rgba(0, 0, 0, 0.5);
	padding : 50px 10% 50px 10%;
  }

  .burger  {
	cursor: pointer;
  }

  .burger > img {
	  width:30px;
	  height: 30px;
  }

  .nav1 p, .menu2 p {
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 30px;
  }

  .nav1 a, ul a {
	text-decoration: none;
	color: #ede3df;
  }

  @media screen and (min-width:1400px) {
	.nav3 {
		display: none;
	}
	}

  @media screen and (max-width:1400px) {
	nav {
		display: none;
	}
	}

  .resa1 {
	  text-transform: uppercase;
  }

  .nav1 {
	display:flex;
	width:100%;
	justify-content:space-around;
	padding-top:50px;
	padding-bottom:50px;
  }
  
  .nav2 {
	display:flex;
	justify-content:flex-end;
	align-items: center;
	width:99%
  }

  .nav1 p:hover {
	  color: #3A2D47;
	  background-color: #ede3df;
  }

  .menu-checkbox ~ .navburger {
    display: block;
}

.menu-checkbox:checked ~ .navburger {
    display: none;
}

#scales {
  display:none;
}

.navburger a {
	text-decoration: none;
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 30px;
}

  .menu {
	width:128px;
	display:flex;
	justify-content:center;
	transform:scale(1);
	transition: transform 200ms;
  }

  .menu:hover {
	transform: scale(1.15);
}

  .menu>img {
	  width: 100%;
	  height: auto;
  }

  @media screen and (max-width:690px) {
	.menu {
		display: none;
	}
}

  .menu2 {
	  margin-left: 10px;
	  margin-right: 10px;
  }

  .menu2>img {
	width:30px;
  }
 
  .accueil {
	display:flex;
	width:70%;
	margin:auto;
	justify-content:center;
	padding-top: 420px;
	/* position: absolute; */
  }

  .logo {
	  display: flex;
	  justify-content: center;

  }
  
  .logo>img {
	width:1083px;
  }  

  @media screen and (max-width:1139px) {
	  .logo > img {
		  width:100%
	  }
	  .accueil {
		  width: 96%;
	  }
  }

.menuburger {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top:132.5px;
	left:0;
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 30px;
	line-height: 15vh;
}

.menuburger a {
	text-decoration: none;
	color: #ede3df;
}

body {
	background-color: black;
}

article {
	background-color: #ede3df;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 20px;
	width: 1138px;
	margin: auto;
	margin-top:350px;
	padding:50px;
}

article>p {
	text-align: center;
	line-height: 25px;
}

section {
	width: 80%;
	margin: auto;
	background-color: #ede3df;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.plats {
	width: 33%;
}

.plats img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding:6%;
}

main, .reserver, .vosavis, .contact, .partenaires {
	background-color: #3A2D47;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	align-items: center;
	margin-top:50px;
}

h1 {
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 50px;
	margin: 50px;
	margin-bottom:50px;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 30px;
	text-transform: uppercase;
	margin: 40px;
	text-align: center;
}

main>p {
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 18px;
	margin-bottom:25px;
	padding-left:50px;
	padding-right:50px;
	line-height:25px
}

.top {
	margin-top:80px;
}

.entrees {
	display: flex;
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 18px;
	flex-direction: column;
	width: 1215px;
}

.entree {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin : 5px 0
}

.entree p {
	padding : 15px 35px 15px 0;
	line-height: 25px;
	width: 90%;
}

.entree img {
	width:50px;
}

@media screen and (max-width:1800px) {
	.entrees, .plats {
		width:85%;
	}
}

.menus {
	background-color:#ede3df ;
	display: flex;
	flex-direction: column;
	width: 90%;
	align-items: center;
}

.menus h2 {
	color: black;
}

.menus p {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-bottom:25px;
	width: 80%;
	text-align: center;
}

.second {
	margin-top: 30px;
	margin-bottom:15px;
}

.third {
	margin-top:15px;
	margin-bottom: 30px;
}

.tel {
	display: flex;
	justify-content: space-around;
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 50px;
}

.phone > img, .mail img {
	width:35px;
	padding-top:10px;
}

.phone, .perso {
	padding-right: 20px;
}

.perso img {
	width:35px;
}

.reserver>p {
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin-top: 25px;
	margin-bottom:25px;
	text-align: center;
	line-height: 30px;
}

.reserver {
	padding-right: 30px;
	padding-left:30px;
}

.calendrier {
	margin-bottom: 50px;
}

.avis {
	background-color: #ede3df;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.profil {
	display: flex;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 50px;
	align-items: center;
	padding-top: 50px;
}

.etoiles {
	display: flex;
	justify-content: space-around;
	width: 200px;
	margin-bottom: 50px;
}

.avis > p {
	width: 50%;
	text-align: center;
	line-height: 30px;
	margin-bottom: 50px;
}

.avis {
	margin-bottom : 50px;
}

.bouton {
	background-color: #3A2D47;
	border-radius: 100px;
	margin-bottom: 50px;
}

.bouton p {
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 50px;
	padding : 20px;
}

h3 {
	font-family: "Good Times";
	color: #ede3df;
	font-size: 80px;
	padding-top: 40px;
}

.contact>p, .adresse {
	color: #ede3df;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
	margin-bottom: 40px;
}

.adresse {
	display: flex;
	align-items: center;
}

.mail {
	padding-right:20px;
}

.partenaires>p {
	width: 80%;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #ede3df;
	text-align: center;
	line-height: 25px;
	margin-bottom:50px;
}

.domaines {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 50px;
}

.domaine {
	background-color: #ede3df;
	text-align: center;
	padding: 30px;
	font-family: "Raleway", sans-serif;
	font-weight: 400
}

h4 {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
}

.ville {
	margin-bottom: 20px;
}

.footerfront {
	display: flex;
	justify-content: space-between;
	font-family: "Raleway", sans-serif;
	color: #ede3df;
	font-size: 25px;
	width: 100%;
	flex-wrap: wrap;
	top:0;
	left:0;
	padding-left:12%;
	padding-right:12%;
	background-color: #2b2b2b;
}

.cat {
	margin:25px;
}

.cat ul {
	text-decoration: underline;
	line-height: 50px;
	color: #ede3df
}

.facebook, .tripadvisor {
	width: 88px;
	margin: 20px;
}

.facebook img, .tripadvisor img {
	width: 100%;
}

.cat p {
	margin-bottom: 80px;
	line-height: 35px;
}

.points {
	border-bottom: dotted 3px black;
}

.footerimage {
	background-image: url(images/footer.png);
	width: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	margin-top: 100px;
}

.footerimage img {
	width: 100%;
}

@media screen and (max-width:1420px) {
	section, main, .reserver, .vosavis, .contact, .partenaires {
		width : 1136px;
	}
}

@media screen and (max-width:1200px) {
	article, section, main, .reserver, .vosavis, .contact, .partenaires {
		width: 97%;
	}
}

@media screen and (max-width:666px) {
	.calendrier {
		width:100%;
	}
	.calendrier > img {
		width: 100%;
	}
	.etoiles {
		width:40%;
	}
	.star img {
		width: 90%;
	}
	.adresse > p {
		font-size : 4.5vw;
	}
}

.bouton1 {
	width:100px;
	height: 50px;
	background-color: red;
}

@media screen and (max-width:960px) {
	.bouton > p, .profil > p {
		font-size:5vw;
	}
}

@media screen and (max-width:927px) {
	.domaines {
		flex-wrap: wrap;
		align-items: center;
	}
	.domaine {
		width:300px;
		margin : 10px;
	}
}

@media screen and (max-width:1542px) {
	.reseaux {
		display:flex;
	}
}


@media screen and (max-width:1175px) {
	.reseaux {
		flex-direction: column;
	}
	.cat p {
		margin-bottom: 10px;
	}
}

@media screen and (max-width:825px) {
	.reseaux {
		flex-direction: row;
	}
}
